body {
  background-color: #2D4059;
}

hr {
  border-style: dotted none none;
  border-color: #F07B3F;
  border-width: 5px;
  width: 50px;

}

h1{
  color: #EA5455;
}


h3{
  color: #FFD460;
}
