body {
  background-color: #7FC8A9;
}

hr {
  border-style: dotted none none;
  border-color: #D5EEBB;
  border-width: 5px;
  width: 50px;

}

h1{
  color: #D5EEBB;
}

h3{
  color: #D5EEBB;
}
